<%- include("partials/header") %>


    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <h3>Oopsies, something went wrong :( lets go back and fix that</h3>


<%- include("partials/footer") %>
